import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import unidecode

import statsmodels.formula.api as smf
import statsmodels.api as sm

import pyarrow
from pycaret.classification import *
from pycaret.datasets import get_data

from sklearn import metrics
from sklearn.metrics import classification_report, roc_auc_score, roc_curve, confusion_matrix
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_digits
from sklearn.model_selection import RandomizedSearchCV, train_test_split

from scipy.stats import ks_2samp, t, uniform, randint

from xgboost import XGBClassifier